## OS FILES ##########################################################
.DS_Store
.idea

## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
*.log

## GENERATED #########################################################
.cache
_site

## SECRETS ###########################################################
.env
.env.*
.netlify
