<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#16191b" />
		<link rel="manifest" href="/manifest.webmanifest" />

		<meta name="author" content="Jeff Nelson" />
		<meta property="og:type" content="website" />

		<link rel="stylesheet" href="/css/styles.css" />
		<style>
			{% getBundle "css" %}
		</style>
	</head>
	<body class="bg-zinc-800 font-sans text-zinc-100">
		{{ content | safe }}
	</body>
</html>
