<header>
	<div class="flex items-center max-w-[1440px] mx-auto px-8 py-4 gap-4">
		<a class="font-semibold text-lg" href="/">Patricia Begley-Nelson</a>
		<nav>
			<!-- <a class="" href="/work/" {{ 'aria-current="page"' if '/work' in page.url }}>Work</a> -->
			<a class="" href="/about/" {{ 'aria-current="page"' if '/about' in page.url }}>About</a>
		</nav>
	</div>
</header>
