<header>
	<div class="flex items-center max-w-[1440px] mx-auto px-8 py-4 gap-4">
		<a class="font-semibold text-lg" href="/">Patricia Begley-Nelson</a>
		<nav class="flex gap-4 before:flex before:w-[1px] before:bg-zinc-500">
			<a class="aria-[current]:underline underline-offset-4" href="/" {{ 'aria-current=page' if '/work' in page.url or page.url === '/' }}>Work</a>
			<a class="aria-[current]:underline underline-offset-4" href="/about/" {{ 'aria-current=page' if '/about' in page.url }}>About</a>
		</nav>
	</div>
</header>
