@import "tailwindcss";

@plugin "@tailwindcss/typography";
@custom-variant aria-current (&:[aria-current="page"]);
@config "../tailwind.config.js";

@layer components {
	.bg {
		background-image: url("/bg.jpg");
		background-image: url("/bg.webp");
		background-position: top center;
		background-repeat: no-repeat;
		mix-blend-mode: plus-lighter;
		transition: opacity 1500ms ease-in;

		@variant md {
			background-image: url("/bg-md.jpg");
			background-image: url("/bg-md.webp");
			background-position: top right;
		}

		@variant xl {
			background-image: url("/bg-xl.jpg");
			background-image: url("/bg-xl.webp");
		}
	}

	.timeline-block {
		--block-gap: 4.5rem;
		--bullet-size: 0.375rem;
		--bullet-offset: 0.5rem;
		--line-offset: 2px;

		&:not(:last-of-type)::before {
			position: absolute;
			inset-block-start: calc(var(--bullet-size) + 1.5rem);
			inset-inline-end: calc(100% + var(--bullet-offset) + var(--line-offset));
			block-size: calc(100% + var(--block-gap) - 2.75rem);
			inline-size: 2px;
			content: "";
			background-color: theme("colors.zinc.600");
		}

		@media (min-width: 768px) {
			--block-gap: 7rem;
			--bullet-size: 0.5rem;
			--bullet-offset: 1rem;
			--line-offset: 3px;
		}

		@container section (width) {
			--outer-col: minmax(min-content, calc(22.2222cqi - 24px));
			--inner-col: calc(16.6667cqi - 12px);

			@media (min-width: 1024px) {
				grid-template-columns:
					var(--outer-col) var(--inner-col) var(--inner-col)
					var(--outer-col);
			}
		}

		&:has(a[href]):hover .pip::before,
		&:has(a[href]):focus-within .pip::before {
			background-color: #fff;
			box-shadow:
				0 0 calc(var(--bullet-size) * 0.08) 0 #fff,
				0 0 calc(var(--bullet-size) * 0.32) calc(var(--bullet-size) * 0.08) #fff,
				0 0 calc(var(--bullet-size) * 1.28) calc(var(--bullet-size) * 0.32) #fff;
			transition-duration: 300ms;
			transition-timing-function: ease-out;
		}
	}

	.pip {
		@apply text-zinc-300;

		display: flex;
		align-items: center; /* [1] */
		gap: 0.5ch; /* [2] */
		font-size: 0.75rem;
		line-height: 1rem;

		@media (min-width: 768px) {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		&::before {
			position: absolute;
			inset-inline-end: calc(100% + var(--bullet-offset));
			inline-size: var(--bullet-size);
			block-size: var(--bullet-size);
			content: "";
			border-radius: 999px;
			background-color: theme("colors.zinc.400");
			transition: 150ms ease-in;
			transition-property: background-color, box-shadow;
		}
	}
}
